---
import { Image } from "astro:assets";
import MainLayout from "./MainLayout.astro";
import Footer from "@/components/Footer.astro";
import { navLinks } from "@/data";
import Navbar from "@/components/Navbar";
const { frontmatter } = Astro.props;
import "../styles/blog.css";
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <Navbar navLinks={navLinks} client:load />
  <main class="p-5 md:p-10 blog">
    <h1 class="text-[3rem] md:text-[5rem] font-bold">{frontmatter.title}</h1>
    <p class="mb-3 text-sm ml-2">
      Published on {frontmatter.pubDate} by {frontmatter.author}
    </p>
    {
      frontmatter.heroImage ? (
        <Image
          src={frontmatter.heroImage}
          alt={frontmatter.title}
          height={400}
          width={760}
          class="rounded-lg my-5"
        />
      ) : null
    }
    <slot />
  </main>
  <Footer navLinks={navLinks} />
</MainLayout>
