---
import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import '@/styles/styles.css';

import { name, logo, bio } from '@/data';
import { ViewTransitions } from 'astro:transitions';

import { Scroller } from '@/components/ui/Scroller';

const currentPath = Astro.url.pathname;

interface Props {
  title?: string;
  description?: string;
}

const { title = name, description = bio.split('. ')[0] + '.' } = Astro.props;
const image = '/opengraph.png';
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9367H3LGVK" is:inline></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag('js', new Date());
      // @ts-ignore
      gtag('config', 'G-9367H3LGVK');
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={currentPath} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content={title} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={logo} />
    <meta property="twitter:url" content={currentPath} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <meta property="og:locale" content="en_IN" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="selection:bg-black selection:text-white">
    <slot />
    <Scroller client:load client:only="react" />
  </body>
</html>
